doctype html
html
  head
    meta(charset='utf-8')
    title= title
    link(href='/css/buttons.css', rel='stylesheet')
    link(href='/less/app.css', rel='stylesheet')
    link(href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css', rel='stylesheet')

  body(style='background-image: url(/img/backgrounds/#{bg});')
    header
      nav
        ul.fa-ul
          li
            i.fa-li.fa.fa-home
            a(href='/') Home
          li
            a(href='/about') About
          li
            a(href='/pets') See Pets
          li
            a(href='/pets/new') Order
          li
            a(href='/contact') Contact
      div#logo
        img(src='/img/logo.png')

    block content

    script(src='/js/vendor/jquery-2.1.1.js')
    script(src='/js/vendor/lodash-2.4.1.js')
    script(src='/js/vendor/moment-2.6.0.js')
    script(src='/js/vendor/buttons.js')
    script(src='/js/source/main.js')

    block scripts
